/* cores da página */
:root {
    --color-one:#ffffff;
    --color-two:#e9e8e8;
    --color-tree:#1b0275;
    --color-four:#060220;
    --color-five:#b9b6b6;
    --color-six:#090238;
    --color-seven:#0da722;
    --color-eight:#a5a2a2;
    --color-nine:#c01212;
    --color-ten:#088b19;
    --color-eleven:#2ecc71;
}
/**/
